<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maicai.mapper.TestMapper">

	<!-- 测试 -->
	<select id="test" resultType="java.lang.String">
	select 'hello World' from dual
	</select>
	
	<!-- select 带参数 -->
	<select id="testWithParam" parameterType="java.lang.String" resultType="java.lang.String">
	SELECT to_char(SYSDATE, 'yyyy-MM-dd') FROM TEST WHERE SELL_ADDR = ${_parameter} 
	SELECT to_char(SYSDATE, 'yyyy-MM-dd') FROM TEST WHERE SELL_ADDR = '#{_parameter}' 
	</select>
	
	<!-- select 带参数 -->
	<select id="testWithParam1" parameterType="com.maicai.entity.Test" resultType="java.lang.String">
	SELECT SYSDATE FROM TEST WHERE SELL_ADDR = ${sellAddr}
	</select>
	
	<!-- select 带参数 -->
	<select id="testWithParam2" resultType="java.lang.String">
	SELECT SYSDATE FROM TEST WHERE SELL_ADDR = ${paramA}
	</select>
	
	<!-- select 带参数 -->
	<select id="testWithParam3" resultType="java.lang.String">
	SELECT SYSDATE FROM TEST WHERE SELL_ADDR = ${test.sellAddr}
	</select>
	
	
	<!-- select 带参数 -->
	<select id="testWithParam3" resultType="com.maicai.entity.Test">
	select * from Test
	</select>
	
	<!-- insert -->
	<insert id="testWithParam2">
	SELECT SYSDATE FROM TEST WHERE SELL_ADDR = ${paramA} 
	</insert>
	
	<!-- update -->
	<update id="">
	</update>
	
	<!-- update -->
	<delete id="">
	</delete>
	
	
</mapper>
